# Gradle
.gradle/
build/
bin/
out/
classes/

# Eclipse
.eclipse
*.launch

# Intellij Idea
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/
.settings/
.classpath
.project

# MacOS
*.DS_Store


# Player's personal exclusions
/build_state/
/tmp/
/run/
/lib/
/extbin/
/*.jar
/TODO.txt
