/* See https://github.com/microsoft/vscode/blob/98f401e8b951868cb4d9830e4c9ea0aa46292a3a/extensions/theme-defaults/themes/light_plus.json */

@import url(presets/base.css);
@import url(presets/light-theme-match-cells.css);


/*****************************/
/*          WebView          */
/*****************************/

.code body,
.code .field,
.code .variable {
	color: #001080;
}

.code .keyword {
	color: #0000ff;
	font-weight: normal;
}

.code .import-declaration-package,
.code .annotation,
.code .class-name {
	color: #267f99;
}

.code .standalone-annotation-member,
.code .assigned-annotation-member {
	color: #000000;
}

.code .enum-constant {
	color: #0070c1;
}

.code .method-name {
	color: #795e26;
}

.code .string {
	color: #a31515;
}

.code .comment {
	color: #008000;
}

.code .number {
	color: #098658
}

.code .selected {
	background-color: #add6ff;
}
